<mat-tab-group>
  <mat-tab label="Men Collection">
    <div class="container mt-4">
      <div class="d-flex">


        <form class="example-form">
          <i class="material-icons">search</i>
          <mat-form-field class="example-full-width">
            <mat-label>Category</mat-label>
            <input type="text"  placeholder="Pick one" aria-label="Number" matInput [(ngModel)]="searchTextm"
              [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option  *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

        </form>
        <br>
      </div>
      <p *ngIf="searchTextm" class="mb-3">results are displayed for search " {{searchTextm}} "</p>
      <div class="row">
        <div class="col-md-3 small-column" *ngFor="let product of menClothes|search:searchTextm">
          <div class="card mb-4" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ product.color }}</h6>
              <img class="card-img-top" [src]="product.imageUrl" alt="Product image">
              <p class="card-text">{{ product.description }}</p>
              <div class="d-flex align-items-center">
                <button class="btn btn1 btn-sm py-2 me-2">View Product</button>
                <button class="btn btn2 p-1 m-1 rounded">
                  <i class="material-icons">shopping_cart</i>
                </button>
                <button class="btn btn2 p-1 m-1 rounded">
                  <i class="material-icons">favorite</i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Ladies Section">
    <div class="container mt-4">
      <div class="d-flex">


        <form class="example-form">
          <i class="material-icons">search</i>
          <mat-form-field class="example-full-width">
            <mat-label>Category</mat-label>
            <input type="text" placeholder="Pick one" aria-label="Number" matInput [(ngModel)]="searchText"
              [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

        </form>
        <br>
      </div>
      <p *ngIf="searchText" class="mb-3">results are displayed for search " {{searchText}} "</p>
      
      <div class="row">
        <div class="col-md-3 small-column" *ngFor="let product of ladiesClothes | search:searchText">
          <div class="card mb-4" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ product.color }}</h6>
              <img class="card-img-top" [src]="product.imageUrl" alt="Product image">
              <p class="card-text">{{ product.description }}</p>
              <div class="d-flex align-items-center">
                <button class="btn btn1 btn-sm py-2 me-2" >View Product</button>
                <button class="btn btn2 p-1 m-1 rounded">
                  <i class="material-icons">shopping_cart</i>
                </button>
                <button class="btn btn2 p-1 m-1 rounded">
                  <i class="material-icons">favorite</i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Kids">
    <div class="container mt-4">
      <div class="d-flex">


        <form class="example-form">
          <i class="material-icons">search</i>
          <mat-form-field class="example-full-width">
            <mat-label>Category</mat-label>
            <input type="text" placeholder="Pick one" aria-label="Number" matInput [(ngModel)]="searchTextk"
              [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

        </form>
        <br>
      </div>
      <p *ngIf="searchTextk" class="mb-3">results are displayed for search " {{searchTextk}} "</p>
    
      <div class="row">
        <div class="col-md-3 small-column" *ngFor="let product of  childrenClothes | search:searchTextk">
          <div class="card mb-4" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ product.color }}</h6>
              <img class="card-img-top" [src]="product.imageUrl" alt="Product image">
              <p class="card-text">{{ product.description }}</p>
              <div class="d-flex align-items-center">
                <button class="btn btn1 btn-sm py-2 me-2">View Product</button>
                <button class="btn btn2 p-1 m-1 rounded">
                  <i class="material-icons">shopping_cart</i>
                </button>
                <button class="btn btn2 p-1 m-1 rounded">
                  <i class="material-icons">favorite</i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>