<div class="container mt-4" *ngIf="cartData.length > 0; else emptyCart">
    <div class="row">
      <div class="col-12 col-md-4 mb-4" *ngFor="let product of cartData">
        <div class="card h-100">
          <img class="card-img-top" [src]="product.imageUrl" alt="Product image">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ product.color }}</h6>
            <p class="card-text">{{ product.description }}</p>
            <div class="d-flex align-items-center">
              <button class="btn btn1 btn-sm py-2 me-2" (click)="viewProduct(product.id)">View Product</button>
              <button class="btn btn2 p-1 m-1 rounded">
                <i class="material-icons">shopping_cart</i>
              </button>
              <button class="btn btn2 p-1 m-1 rounded">
                <i class="material-icons">favorite</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #emptyCart>
    <p>Your cart is empty.</p>
  </ng-template>
  