/* nav{
    position: sticky;
}

.products ul{
    position: absolute;
    background: red;
    padding: 20px;
    border-radius: 10px;
} */

i{
    cursor: pointer;
}
.products ul{
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .products ul {
    list-style: none;
    padding: 10px;
    margin: 0;
  }
  
  .products li {
    cursor: pointer;
    padding: 5px 10px;
  }
  
  .products li:hover {
    background-color: #f0f0f0;
  }
  