.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .main {
    max-width: 800px;
    margin: auto;
  }
  
  .card {
    width: 100%; /* Ensures the card takes the full width of the column */
  }
  